<h2>Por pais</h2>
<hr>

<div class = "row">

    <div class = "col">

        <form autocomplete = "off">

            <input (ngSubmit) = "buscar()" type = "text" name = "termino" class = "form-control" [(ngModel)] = "termino"  placeholder = "buscar pais">
 
        </form>

    </div>

</div>

<hr>

<div *ngIf = "hayError" class = "alert alert-danger">

    No se encontro nada con el termino indicado

</div>

<div class="row">

    <div class="col">

        <table class = "table table-hover">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>123556</td>
                    <td></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>